* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #31304D;
    /* height: 100vh; */
}

.card {
    background-color: aqua;
    width: 90%;
    /* height: 100vh; */
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding: 40px 35px;
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
}

.inbut-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inbut-box input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.inbut-box button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.inbut-box button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;

}

.weather h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.weather{
    display: none;
}